@import url("https://use.typekit.net/gnf2dry.css");

body {
    background-color: black;
    font-family: attribute-text;
    color: white;
    margin: 0 auto;
} 

.top {
    position: absolute;
    top: 20;
    left:20;
}

.bottom {

    position: absolute;
    bottom: 20;
    left: 20;
}

h1, p {
    padding: 0;
    margin: 0;
}

p {
    font-size: 14px;
}

ul {
    position: fixed;
    top: 20px;
    right: 20px;
    list-style-type: none;
    margin-left: 20px;
}

ul a {
    color: white;
    text-decoration: none;
}

.selected {
    color: #E0707C;
}