/* Add your styles here */
html {
  font-family: Courier, Geneva, "DejaVu Sans", sans-serif
}
.llama-list-title {
  border-bottom: 2px solid #333;
  margin: 10px auto;
  text-align: center;
  font-weight: 400;
}
.list-container {
  border-bottom: 1px solid #333;
  padding: 5px;
}
.list-head .rank, .list-head .name, .list-body .rank, .list-body .name {
  display: inline-block;
  width: 45%;
  text-align: center;
}

.list-body .rank, .list-body .name {
  padding: 10px 0;
}

.odd {
  background-color: linen;
}

.even {
  background-color: lightyellow;
}

.special {
  font-style: italic;
  color: darkslateblue;
}