@import url("https://use.typekit.net/gnf2dry.css");

body {
    background-color: black;
    font-family: attribute-text;
    color: white;
    margin: 0 auto;
} 

h1, p {
    margin: 20px;
}

p {
    width: 75%;
}

ul {
    position: fixed;
    top: 20px;
    right: 20px;
    list-style-type: none;
    margin-left: 20px;
}

ul a {
    color: white;
    text-decoration: none;
}

.selected {
    color: #E0707C;
}